.score-stats {
  &-list {
    display: inline-block;
  }

  &-item {
    @include flexbox(start);
    @include text-style(12, $secondary);

    &:not(:last-child) {
      margin-bottom: 4px;
    }

    &.is-active {
      dt,
      .count {
        font-weight: 700;
        color: $blue;
      }
    }

    dt {
      margin-right: 4px;
    }

    dd {
      @include flexbox;

      .bar-graph {
        width: 70px;
        height: 5px;
        margin-right: 4px;
        border-radius: (5px / 2);
        background-color: $border;
      }

      .active-bar {
        width: 0;
        height: 5px;
        border-radius: (5px / 2);
        background-color: $blue;
        overflow: hidden;
      }

      .count {
        font-weight: 400;
      }
    }
  }

  @include responsive(T) {
    &-item {
      dt {
        margin-right: 8px;
      }

      dd {
        .bar-graph {
          width: 180px;
          margin-right: 8px;
        }
      }
    }
  }
}
