.product-tab {
  position: sticky;
  top: $gnb-height-sm + $lnb-height-sm;
  z-index: $product-tab-level;
  width: 100%;
  height: 40px;
  border-bottom: 1px solid $border;
  background-color: $white;

  &-list {
    @include flexbox;
    margin: 0 -#{$grid-margin};
  }

  &-item {
    width: (100% / 5);

    &.is-active {
      button {
        color: $blue;
        border-color: $blue;
      }
    }

    button {
      @include flexbox;
      @include text-style(13, $dark);
      font-weight: 700;
      width: 100%;
      height: 40px;
      white-space: nowrap;
      border-bottom: 2px solid transparent;

      &:active {
        color: $blue;
      }
    }

    .badge {
      color: $secondary;
      margin-left: 4px;
    }
  }

  @include responsive(T) {
    top: $gnb-height-md + $lnb-height-md;
    height: 54px;
    background-color: $background;
    border-bottom: none;
    margin: 40px 0;

    &-list {
      margin: 0;
    }

    &-item {
      button {
        @include text-style(16);
        height: 54px;
      }

      .badge {
        margin-left: 8px;
      }
    }
  }

  @include responsive(D) {
    &-item button:hover {
      color: $blue;
    }
  }
}
